.sidebar {
    height: 100vh;
    background-color: #f8f9fa;
    padding-top: 20px;
}
.sidebar .nav-link {
    color: #333;
}
.sidebar .nav-link.active {
    background-color: #e9ecef;
}
.main-content {
    padding: 20px;
}
.table-responsive {
    margin-top: 20px;
}
.logoalugo{
    height: 100px;
}
.widget {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.widget-icon {
    font-size: 2.5rem;
    margin-bottom: 10px;
}